In [1]:
import pandas as pd
import numpy as np

# Python Basics

# Complete the next exercise

In [2]:
# Calculator

# Code a function named 'calculator' with 2 parameters x , y and the operator name

# The calculator has the following math operations:

# add, subtraction, multiply and divide . Implement them by normal function definition

# by lambda function the power and the square operation

# Create a dictionary implement the decision which to run.

# expected behaviour
# calculator(2, 3, 'add') --> 5

# Based on the following dataset answer the following questions

In [3]:
records = pd.read_excel('DatathonRecords.xlsx')
records.head()

,Complete Name,Datathon Team name,Interested on Workshop,Interested on Datathon,T-Shirt size (For Datathon participants)
0,Erick,Staff,yes,yes,NaN
1,Joe,Staff,yes,yes,NaN
2,Petet,NaN,yes,no,NaN
3,Joan,PyTrac,yes,yes,M
4,Melissa,PyTrac,yes,yes,L

# Question 1. Rename the cols based on the next list 
['name','team','workshop','datathon','t-shirt']

# Question 2. Replace the values 'no team yet', 'not yet' or 'NoTeamYet' to 'no group'. Replace 'not yet', 'maybe' , 'no yet' to 'not sure'

# Question 3. How many teams are enrolled today

# Question 4. Group the Members by enrolled teams

# Question 5. Which are the ones that dont have a team but are interested in Datathon?

# Question 6. The ones that are not sure about participate on Datathon?

# Question 7. The ones that are not interested in Datathon